<div class="footer">
    <div class="pull-right">
            <small>Fórum Clóvis Beviláqua &copy; 2017</small>
    </div>
    <div>
        <strong>Fórum Clóvis Beviláqua</strong> Sala de Inovação &copy; 2017
    </div>
</div>
