<div class="footer">
    <div class="pull-right">
            <small>Fórum Clóvis Beviláqua &copy; 2017</small>
        </p>
    </div>
    <div>
        <strong>Fórum Clóvis Beviláqua</strong> Núcleo de Desenvolvimento &copy; 2017
    </div>
</div>
